[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "decompML"]
	path = decompML
	url = https://github.com/cran/decompML
[submodule "vmdTDNN"]
	path = vmdTDNN
	url = https://github.com/cran/vmdTDNN
